<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="scout_mini_gazebo" params="">

    <!-- kp spring constant, kd damping constant -->
    <gazebo>
      <mu1 value="1.0"/>
      <mu2 value="0.9"/>
      <kp value="10000000.0"/>
      <kd value="1.0"/>
      <fdir1 value="1 0 0"/>
      <minDepth value="0.001"/>
      <maxContacts value="64"/>
    </gazebo>

    <gazebo reference="front_left_wheel_link">
      <mu1>1.0</mu1>
      <mu2>1.0</mu2>
    </gazebo>
    <gazebo reference="rear_left_wheel_link">
      <mu1>1.0</mu1>
      <mu2>1.0</mu2>
    </gazebo>
    <gazebo reference="front_right_wheel_link">
      <mu1>1.0</mu1>
      <mu2>1.0</mu2>
    </gazebo>
    <gazebo reference="rear_right_wheel_link">
      <mu1>1.0</mu1>
      <mu2>1.0</mu2>
    </gazebo>

  </xacro:macro>
</robot>
