<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="scout_mini_gazebo" params="">

    <!-- kp spring constant, kd damping constant -->
    <gazebo>
      <mu1 value="1.0"/>
      <mu2 value="0.9"/>
      <kp value="10000000.0"/>
      <kd value="1.0"/>
      <fdir1 value="1 0 0"/>
      <minDepth value="0.001"/>
      <maxContacts value="64"/>
    </gazebo>

    <gazebo reference="front_left_wheel_link">
      <mu1>1.0</mu1>
      <mu2>1.0</mu2>
    </gazebo>
    <gazebo reference="rear_left_wheel_link">
      <mu1>1.0</mu1>
      <mu2>1.0</mu2>
    </gazebo>
    <gazebo reference="front_right_wheel_link">
      <mu1>1.0</mu1>
      <mu2>1.0</mu2>
    </gazebo>
    <gazebo reference="rear_right_wheel_link">
      <mu1>1.0</mu1>
      <mu2>1.0</mu2>
    </gazebo>

    <gazebo reference="base_link">
      <plugin name="ground_truth_p3d" filename="libgazebo_ros_p3d.so">
        <ros>
          <namespace>/</namespace>
          <remapping>~/odom:=/ground_truth/odom</remapping>
        </ros>
        <update_rate>50.0</update_rate>
        <frame_name>world</frame_name>
        <body_name>base_link</body_name>
        <gaussian_noise>0.0</gaussian_noise>
      </plugin>
    </gazebo>

  </xacro:macro>
</robot>
