<?xml version="1.0"?>
<robot name="scout_mini" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find scout_mini_description)/urdf/scout_mini_base.xacro"/>
  <xacro:include filename="$(find scout_mini_description)/urdf/scout_mini_lidar.xacro"/>
  <xacro:include filename="$(find scout_mini_description)/urdf/scout_mini_gazebo.xacro"/>
  <xacro:include filename="$(find scout_mini_description)/urdf/scout_mini_imu.xacro"/>

  <xacro:scout_mini_base/>
  <xacro:scout_mini_lidar parent="base_link"/>
  <xacro:scout_mini_imu parent="base_link"/>
  <xacro:scout_mini_gazebo/>


  <xacro:arg name="ros2_control_yaml" default=""/>

  <gazebo>
    <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
      <parameters>$(arg ros2_control_yaml)</parameters>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin name="ground_truth_p3d" filename="libgazebo_ros_p3d.so">
      <ros>
        <namespace>/</namespace>
        <remapping>odom:=/ground_truth/odom</remapping>
      </ros>
      <update_rate>100.0</update_rate>
      <frame_name>world</frame_name>
      <body_name>base_link</body_name>
      <gaussian_noise>0.0</gaussian_noise>
    </plugin>
  </gazebo>

  <ros2_control name="GazeboSystem" type="system">
    <hardware>
      <plugin>gazebo_ros2_control/GazeboSystem</plugin>
    </hardware>

    <joint name="front_left_wheel">
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="front_right_wheel">
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="rear_left_wheel">
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="rear_right_wheel">
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
  </ros2_control>


</robot>
